

a { color: #4681da; text-decoration: none; }
a:hover { text-decoration: underline; }

h2 { 
border-bottom: 1px solid #ddd; 
border-top: 1px solid #ddd; 
color: #363636;
font-family: "Droid Serif", Georgia, serif; 
font-size: 2.6em; 
line-height: 1.8em; 
font-weight: 500; 
margin-top: 25px; 
margin-bottom: 25px; 
padding: 12px 0; 
text-align: center; 
}

h3 {
letter-spacing: -0.04em;
font-weight: bold;
font-size: 1.44em;
margin-bottom: 10px;
}

span.chyron { font-size: 1.2em; padding-top: 10px; }

/** main blocks **/
#form_container { 
display: block;
max-width: 800px;
margin: 0 192px; 
margin-top: 5px; 
margin-bottom: 66px;
padding: 20px 15px; 
background: #ECEBEB; 

border-radius: 6px; 
-webkit-border-radius: 6px; 
-moz-border-radius: 6px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
box-sizing: border-box;  
}

.form_container_custom { 
display: block;
max-width: 800px;
margin: 0 0px; 
margin-top: 5px; 
margin-bottom: 66px;
padding: 20px 15px; 
background: #fff; 

border-radius: 6px; 
-webkit-border-radius: 6px; 
-moz-border-radius: 6px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
box-sizing: border-box;  
}

.form_container_custom_for_loader { 
display: block;
max-width: 113px;
margin: 0 0px; 
margin-top: 5px; 
margin-bottom: 66px;



border-radius: 6px; 
-webkit-border-radius: 6px; 
-moz-border-radius: 6px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
box-sizing: border-box;  
}
/** the form elements **/
#hongkiat-form { box-sizing: border-box; }

#hongkiat-form .txtinput { 
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 20px;
font-size: 1.55em;
padding: 11px 25px;
padding-left: 55px;
width: 90%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}


#hongkiat-form .txtinput:focus { 
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
outline: 0 none; 
}

.divdata { 
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 20px;
font-size: 1.55em;
padding: 11px 25px;
padding-left: 55px;
width: 85%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
word-wrap: break-word;
}


.divdata:hover { 
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
outline: 0 none; 
}
#hongkiat-form input#projectname {
background: #fff url('../../images/portal/new_form_images/project.png') 5px 4px no-repeat;
}

#hongkiat-form input#companytitle {
background: #fff url('../../images/portal/new_form_images/project.png') 5px 4px no-repeat;
}

#hongkiat-form input#name {
background: #fff url('../../images/portal/new_form_images/user.png') 5px 4px no-repeat;
}
#hongkiat-form input#category{
	background: #fff url('../../images/portal/new_form_images/category.png') 5px 5px no-repeat;
}
#hongkiat-form input#bugname {
background: #fff url('../../images/portal/new_form_images/new_bug.png') 5px 4px no-repeat;
}

#hongkiat-form input#lname {
background: #fff url('../../images/portal/new_form_images/user.png') 5px 4px no-repeat;
}

#hongkiat-form input#designation {
background: #fff url('../../images/portal/new_form_images/designation_level.png') 5px 4px no-repeat;
}

#hongkiat-form input#password {
background: #fff url('../../images/portal/new_form_images/password.png') 5px 4px no-repeat;
}

#hongkiat-form input#confpassword {
background: #fff url('../../images/portal/new_form_images/password.png') 5px 4px no-repeat;
}

#hongkiat-form input#companywebsite {
background: #fff url('../../images/portal/new_form_images/companywebsite.png') 5px 4px no-repeat;
}

#hongkiat-form input#companyemail {
background: #fff url('../../images/portal/new_form_images/companyemail.png') 5px 4px no-repeat;
}
#hongkiat-form #reviewer {
background: #fff url('../../images/portal/new_form_images/new_reviewer.png') 5px 4px no-repeat;
}
#hongkiat-form #approver {
background: #fff url('../../images/portal/new_form_images/new_approver.png') 5px 4px no-repeat;
}
#hongkiat-form #tester {
background: #fff url('../../images/portal/new_form_images/new_tester.png') 5px 4px no-repeat;
}
#hongkiat-form div#document {
background: #fff url('../../images/portal/new_form_images/new_upload.png') 5px 4px no-repeat;
}
#hongkiat-form input#email {
background: #fff url('../../images/portal/emailicon2.png') 5px 4px no-repeat;
}
#hongkiat-form input#datepicker {
background: #fff url('../../images/portal/new_calendar.png') 5px 4px no-repeat;
}
#hongkiat-form input#datepicker_to {
background: #fff url('../../images/portal/new_calendar.png') 5px 4px no-repeat;
}

/* #hongkiat-form input#department {
background: #fff url('../../images/portal/new_form_images/department.png') 5px 4px no-repeat;
} */

#hongkiat-form input#website {
background: #fff url('../../images/portal/emailicon2.png') 5px 4px no-repeat;
}
#hongkiat-form input#mobile {
background: #fff url('../../images/portal/new_form_images/phone.png') 5px 4px no-repeat;
}

#hongkiat-form input#telephone {
background: #fff url('../../images/portal/new_form_images/telephone.png') 5px 4px no-repeat;
}

#hongkiat-form input#pincode {
background: #fff url('../../images/portal/new_form_images/pincode.png') 5px 4px no-repeat;
}

#hongkiat-form input.location {
background: #fff url('../../images/portal/new_form_images/pincode.png') 5px 4px no-repeat;
}



div#div-desc {
background: #fff url('../../images/portal/new_form_images/project_desc.png') 5px 4px no-repeat;
word-wrap: break-word;
}

div#div-projectname {
background: #fff url('../../images/portal/new_form_images/project.png') 5px 4px no-repeat;
}

div#div-status {
background: #fff url('../../images/portal/new_form_images/new_Status.png') 5px 4px no-repeat;
}

div#div-deadline {
background: #fff url('../../images/portal/new_calendar.png') 5px 4px no-repeat;
}

div#div-approver{
	background: #fff url('../../images/portal/new_form_images/new_approver.png') 5px 4px no-repeat;
}

div#div-reviewer{
	background: #fff url('../../images/portal/new_form_images/new_reviewer.png') 5px 4px no-repeat;
}

div#div-tester{
	background: #fff url('../../images/portal/new_form_images/new_tester.png') 5px 4px no-repeat;
}

#hongkiat-form textarea {
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
 
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 15px;
font-size: 1.5em;
padding: 11px 25px;
padding-left: 55px;
width: 90%;
height: 60px;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
#hongkiat-form textarea:focus {
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
outline: 0 none; 
}
#hongkiat-form textarea#description {
background: #fff url('../../images/portal/new_form_images/project_desc.png') 5px 4px no-repeat;
 
}

#hongkiat-form textarea#qualification {
background: #fff url('../../images/portal/new_form_images/project_desc.png') 5px 4px no-repeat;
 
}

#hongkiat-form textarea#address {
background: #fff url('../../images/portal/new_form_images/new_address.png') 5px 4px no-repeat;
 
}
#hongkiat-form textarea#information {
background: #fff url('../../images/portal/new_form_images/news.png') 5px 4px no-repeat;
 
}
#hongkiat-form #slider { width: 60%; }

#hongkiat-form #aligned { 
box-sizing: border-box; 
float: left; 
width: 450px; 
margin-right: 50px; 
}
#hongkiat-form #aside {
	float: left;
	width: 250px;
	padding: 0;
	box-sizing: border-box;
}

#wrapping { width: 100%; box-sizing: border-box; }

span.radiobadge { display: block; margin-bottom: 8px; }
span.radiobadge label { font-size: 1.2em; padding-bottom: 4px; }

select.selmenu {
/* font-size: 17px;
color: #676767;
padding: 9px !important;
border: 1px solid #aaa;
width: 200px; */

display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 20px;
font-size: 1.55em;

width: 108%;
height:33px;
color: #777;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s; 
}

select.commentselmenu {
/* font-size: 17px;
color: #676767;
padding: 9px !important;
border: 1px solid #aaa;
width: 200px; */

display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 20px;
font-size: 15px;

width: 108%;
height:23px;
color: #777;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s; 
}

/** custom buttons **/

#buttons { display: block; padding-top: 10px; }
#buttons #resetbtn {
display: block;
float: left;
color: #515151;
text-shadow: -1px 1px 0px #fff;
margin-right: 20px;
height: 2em;
padding: 0 1em;
outline: 0;
font-weight: bold;
font-size: 1.3em;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
background-color: #fff;
background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(240,240,240)), color-stop(100%,rgb(222,222,222)));
background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);    background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
border: 1px solid #969696;
box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
-moz-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
-webkit-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

#buttons #resetbtn:hover {
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);	
color: #818181;
background-color: #fff;
background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
border-color: #aeaeae;
box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}

#buttons #submitbtn {
display: block;
float: left;
height: 2em;
padding: 0 1em;
border: 1px solid;
outline: 0;
font-weight: bold;
font-size: 1.3em;
color:  #fff;
text-shadow: 0px 1px 0px #222;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
 border-color: #6E6E6E #6E6E6E #000000;
-moz-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
-ms-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
-webkit-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
box-shadow: inset 0 1px 0 rgba(256,256,256, .35);


background-color: rgb(226,238,175);
background-image: -moz-linear-gradient(top, #6E6E6E 3%, #6E6E6E 3%, #6E6E6E 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#6E6E6E), color-stop(3%,#6E6E6E), color-stop(100%,#6E6E6E)); 
background-image: -webkit-linear-gradient(top, #6E6E6E 3%, #6E6E6E 3%, #6E6E6E 100%);
background-image: -o-linear-gradient(top, r#6E6E6E 3%, #6E6E6E 3%, #6E6E6E 100%);
background-image: -ms-linear-gradient(top, #6E6E6E 3%, #6E6E6E 3%, #6E6E6E 100%);
background-image: linear-gradient(top, #6E6E6E 3%, #6E6E6E 3%, #6E6E6E 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeaf', endColorstr='#90b026',GradientType=0 );
}
#buttons #submitbtn:hover, #buttons #submitbtn:active {
border-color: #7c9826 #7c9826 #000;
color: #fff;
-moz-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
-ms-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
background: rgb(228,237,189);
background: -moz-linear-gradient(top, rgb(228,237,189) 2%, rgb(207,219,120) 3%, rgb(149,175,54) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(228,237,189)), color-stop(3%,rgb(207,219,120)), color-stop(100%,rgb(149,175,54))); 
background: -webkit-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); 
background: -o-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); background: -ms-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); background: linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4edbd', endColorstr='#95af36',GradientType=0 );
}

/** comments **/

.bgcolor{
	background-color: #fff;
    border-bottom: 1px solid #B9BBBE;
    box-shadow: 0 2px 2px 3px #B9BBBE;
    width:541px;

}


.box_comment {
  font-family: "Helvetica Neue", Arial, sans-serif;
 border-style: inherit;
border-width: 1px;
border-color: #dedede; 
margin-bottom: 20px;
    height: auto;
    overflow: hidden;
    width: 534px;
    margin-left:7px;
    font-size: 1.55em;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s; */
}

.box_comment:hover { 
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);


outline: 0 none; 
}
#comment_wrap_forum {
    border-width: 1px;
    width: 490px;
}






.f_left{
	float: left;
}


.commentText {
    padding-top: 3px;
    width: 435px;
    margin-left: 15px;
}


#forum_wrap p {
    margin: 0;
}


#updatemesBlue {
   
    font-size: 14px;
    color:#5F95EF;
    width:250px;
   
}

.updatemesBig{
	
	font-size:11px;
    margin-top:-29px;
    float:right;
    color: #ACACAC;
}

.pageWhi {
   
    overflow: auto;
    padding: 2px 5px 5px 3px;
    text-align: justify;
    word-wrap: break-word;
}

#updatemesBlack {
    color: #ACACAC;
    font-size: 10px;
}


#forum_wrap p {
    margin: 0;
}


#ftBlue {
    color: #595959;
    font-size: 11px;
    font-weight: bold;
}
#ftBlack {
    color: #000000;
    font-size: 11px;
}
#ftdate {
    color: #ACACAC;
    font-size: 10px;
}


.divcom {
    margin-top: 5px;
    padding: 7px 5px 15px 44px;
}

/**bug-comments***/

.bug_bgcolor{
	background-color: #E6E6E6;
    border-bottom: 1px solid #B9BBBE;
    box-shadow: 0 2px 2px 3px #B9BBBE;
     margin-left: 78px;
    margin-top: 10px;
    width: 448px;

}


.bug_box_comment {
  font-family: "Helvetica Neue", Arial, sans-serif;
 border-style: inherit;
border-width: 1px;
border-color: #dedede; 
margin-bottom: 15px;
    height: auto;
    overflow: hidden;
    width: 400px;
    margin-left:7px;
    font-size: 1.25em;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s; */
}

.bug_box_comment:hover { 
color: #333;
border-color: rgba(41, 92, 161, 0.4);
/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6); */


outline: 0 none; 
}
#bug_comment_wrap_forum {
    border-width: 1px;
    width: 350px;
}







.bug_f_left{
	float: left;
}


.bug_commentText {
    padding-top: 3px;
    width: 335px;
    margin-left: 15px;
}


#bug_forum_wrap p {
    margin: 0;
}


#bug_updatemesBlue {
   
    font-size: 14px;
    color:#5F95EF;
    width:200px;
   
}

.bug_updatemesBig{
	
	font-size:11px;
    margin-top:-29px;
    float:right;
    color: #ACACAC;
}

.bug_pageWhi {
   
    overflow: auto;
    padding: 2px 5px 5px 3px;
    text-align: justify;
    word-wrap: break-word;
}

#bug_updatemesBlack {
    color: #ACACAC;
    font-size: 10px;
}


#bug_forum_wrap p {
    margin: 0;
}


#bug_ftBlue {
    color: #595959;
    font-size: 11px;
    font-weight: bold;
}
#bug_ftBlack {
    color: #000000;
    font-size: 11px;
}
#bug_ftdate {
    color: #ACACAC;
    font-size: 10px;
}


.bug_divcom {
    margin-top: 5px;
    padding: 7px 5px 15px 44px;
}


/** @group clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }