#popup_container {
	font-weight:bold;
	text-align:left;
	font-size: 12px;
	width: 300px; !important;
	height: 110px; !important; 
	background: #F3F3F3;
	border:solid 2px #BDBDBD;
	border-bottom: solid 4px #456FA5;
	color: #000;
	
}

#popup_title {
display:none;
}



#popup_message {
padding-top: 15px;
padding-left: 15px;
}

#popup_panel {
text-align: left;
padding-left:15px;
	
}
#popup_ok
{
background-color:#476EA7;
padding:3px;
color:#FFFFFF;
margin-top:20px;!important;
margin-right:10px;!important;
}

#popup_cancel
{
background-color:#476EA7;
padding:3px;
color:#FFFFFF;
margin-top:20px;!important;
margin-right:10px;!important;
}
